body{
  background-color: #FFFFFF;
  font-size: 1.0em;
  margin-left: 25%;
  padding: 1em 1em 1em 1em;
}
.about{
  background-color: #F5F3EE;
  border-style: solid;
  border-width: medium;
  border-color: #7D1935;
  width: 50%;
  font-family:  Verdana;
}
.value{
  background-color: #F5F3EE;
  width: 50%;
  font-family:  Verdana;
}

.headers{
  background-color: #4A96AD;
  width: 75%;
  font-family: Verdana;
}

h1{
  background-color: #FFFFFF;
  width: 20%;
}
